<div>
  <h1>Car Requests</h1>
</div>
<div class="cars">
  <table>
    <tr>
      <th>Name</th>
      <th>Ticket Number</th>
      <th>Leave Time</th>
      <th>Push</th>
      <th>Request Time</th>
      <th>Car Status</th>
    </tr>
    <tr ng-repeat="car in cars">
      <th>User Name</th>
      <th>{{car.ticket_number}}</th>
      <th>{{car.time_needed}} min</th>
      <th>{{car.push}}</th>
      <th>{{car.request_time | date:'MM/dd/yyyy @ h:mma'}}</th>
      <th>{{car.on_lot}}</th>
      <th><button ng-click="returnCar(car)">Remove Car</button></th>
    </tr>
  </table>
</div>
