/* Header styling */

.my-header {
  background: #393939;
  height: 80px;
  font-family: Chalkduster;
  font-size: 25px;
  color: white;
}
.my-headerTitle {
  padding-left: 15px;
  padding-top: 15px;
  color: white;
}
/* Navbar styling */

.navbar-inverse {
background-image: linear-gradient(0deg, #FF5A09 23%, #F3843E 67%);
font-family: Chalkduster;
color: #fff;
border: none;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #393939;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #393939;
}
.userBtns {
  float: right;
  margin: 2% 1%;
  color: white;
}
a:hover {
  color: #FF5A09;
  text-decoration: none;
}
.col-xs-12 {
  padding: 0;
}
table {
  border-spacing: 5px;
}
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
th {
  text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: black;
}
/* Footer styling */
.my-footer {
  background: #393939;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 15%;
  text-align: center;
  color: white;
  font-family: Chalkduster;
  font-size: 25px;
}
/* Administration panel */
.adminBox {
  position: relative;
  min-height: 100px;
  width: 80%;
  background: #d3d3d3;
  padding-top: 10px;
}
 .adminTitle {
   font-size: 20px;
   margin-left: 10px;
 }
.adminSelect {
  float: right;
  font-size: 20px;
  margin-right: 10px;
}
.adminUserName {
  font-size: 20px;
  position: absolute;
  left: 40%;
}
.adminBtn {
  margin-left: 20px;
  margin-top: 15px;
  color: #333;
}


/* Home styling */
.homeContentBox {
  min-width: 30%;
  max-width: 45%;
  min-height: 500px;
  background: #393939;
  margin: 15px;
  position: relative;
  font-family: Chalkduster;
  color: white;
  text-align: center;
}
.boxImg {
  max-width: 300px;
  max-height: 400px;
}

.servicesContentBox {
  min-width: 30%;
  max-width: 45%;
  min-height: 500px;
  background: #393939;
  margin: 15px;
  position: relative;
  font-family: Chalkduster;
  color: white;
}
