<ion-view view-title="Find Parking">
  <ion-content class="findParking">
    <h1 class="lotheader">Near By Lots</h1><br>
    <div ng-show="flashMessage" class="row flash text-center alert alert-warning">{{flashMessage}}</div>
    <h5 class="lotheader">Please select your current location</h5>
    <form name="selectLot" novalidate>
      <ion-list>
      <ion-radio type ="radio" ng-repeat="lot in lots" ng-value="{{lot.id}}" name="lotId" ng-model="selectedLot.id" ng-required="true">{{lot.name}}</ion-radio>
    </ion-list>
    <div class="homebox">
      <button class="button button-block button-positive my-button-css" type="submit" ng-click="lotSelect()" ng-disabled="selectLot.$invalid">Select Lot</button>
     </div>
  </form>
</ion-content>
<ion-footer-bar class="footerBox">
  <button class="button button-block button-positive my-button-css" ng-click="reset()">Reset</button>
</ion-footer-bar>
</ion-view>
