<ion-view view-title="Options">
  <ion-content>
    <div class="homebox">
      <button class="button button-block button-positive my-button-css" type="submit" ng-click="requestCar()">Request Car</button>
    </div>
    <div class="homebox checkoutBox">
      <button class="button button-block button-positive my-button-css" type="submit" ng-click="checkout()">Checkout</button>
    </div>
    <div class="homebox checkoutBox">
      <button class="button button-block button-positive my-button-css" type="submit" ui-sref="app.review">Review Lot</button>
    </div>
  </ion-content>
</ion-view>
