body {
  font-family: Chalkduster;
}
.homebox {
  background: #393939;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.my-button-css {
  background-image: linear-gradient(0deg, #FF5A09 23%, #F3843E 67%);
  border: 1px solid #979797;
  font-family: Chalkduster;
  font-size: 20px;
  color: #FFFFFF;
  max-width: 80%;
}
.button.button-positive.activated {
  background-image: linear-gradient(0deg, #FF5A09 23%, #F3843E 67%);
  border: 1px solid #979797;
  font-family: Chalkduster;
  font-size: 20px;
  color: #FFFFFF;
}
.button.button-positive {
  background-image: linear-gradient(0deg, #FF5A09 23%, #F3843E 67%);
  border: 1px solid #979797;
  font-family: Chalkduster;
  font-size: 20px;
  color: #FFFFFF;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background-image: linear-gradient(0deg, #FF5A09 23%, #F3843E 67%) !important;

  border-color: #979797 !important;*/
}

.lotheader {
  text-align: center;
  margin: 0 0 0 0;
}

h5.lotheader {
  margin-bottom: 10px;
}

.lotBox {
  font-size: 20px;
  margin: 10 0 10 0;
}

.lotInfoHeader  {
  text-align: center;
  font-family: Chalkduster;
}

.checkoutBox {
  margin-top: 10px;
}
